.gdc-card {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  width: 500px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}
.gdc-name {
  font-size: 1.2rem;
}
.gdc-img-info {
  display: flex;
  background-color: aquamarine;
}

.gdc-img {
  border-radius: 50px;
  height: 150px;
  width: 150px;
}

.gdc-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.gdc-dot {
  background-color: aquamarine;
  font-size: 0.8rem;
}

.gdc-eventcount {
  margin: 2px;
}

.gdc-name {
  margin: 2px;
}
.gdc-location {
  color: grey;
  margin: 2px;
}

.gdc-description,
.gdc-img-container,
.gdc-info-container,
.gdc-info-container > p,
.gdc-info-container > h2 {
  background-color: aquamarine;
}

.gdc-link {
  text-decoration: none;
  color: black;
}

.gdc-description {
  display: flex;
  font-size: 0.75rem;
}
