.gf-button {
  color: white;
  background-color: blueviolet;
  margin: 5px;
  width: 20%;
}

.gf-caption {
  font-size: 0.5rem;
}
.gf-container {
  margin: auto;
  max-width: 75%;
}

.gf-errors {
  color: crimson;
  font-size: 0.7rem;
}

.gf-form {
  display: flex;
  flex-direction: column;
}
.gf-header {
  font-size: 1rem;
  border-bottom: 1px solid black;
}
.gf-input {
  width: 40%;
  background-color: darkgrey;
}
.gf-label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  border-bottom: 1px solid black;
  padding: 5px;
}
.gf-select {
  display: flex;
  flex: column;
  background-color: darkgrey;
}

.gf-select > option {
  background-color: darkgrey;
}
.gf-span {
  font-size: 0.75rem;
}
.gf-textarea {
  background-color: darkgrey;
  height: 300px;
  width: 200px;
}
