.gd-banner {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.gd-button {
  font-size: 0.9rem;
  background-color: #74bdcb;
  width: 150px;
  height: 25px;
  border-radius: 100px;
  border: none;
  margin: 10px;
  margin-top: 0px;
  color: whitesmoke;
  cursor: pointer;
}

.gd-join-button {
  font-size: 1rem;
  background-color: #ffa384;
  width: 150px;
  height: 50px;
  border-radius: 100px;
  border: none;
  margin: 10px;
  margin-top: 0px;
  color: whitesmoke;
  cursor: pointer;
}

.gd-buttons {
  display: flex;
  gap: 5px;
}

.gd-link-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gd-container {
  margin: auto;
  width: 75%;
}

.gd-events-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color: #efe7bc;
}

.gd-img {
  height: 450px;
  width: 450px;
  border-radius: 50px;
}

.gd-img-container {
  display: flex;
  flex-direction: column;
}

.gd-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gd-icon {
  background-color: #efe7bc;
}

.gd-button-link {
  width: fit-content;
  color: black;
  text-decoration: none;
}

.gd-link {
  width: fit-content;
  color: black;
  text-decoration: none;
  background-color: #efe7bc;
}

.gd-splash {
  background-color: #efe7bc;
  padding: 10px;
  border-radius: 25px;
  margin-top: 20px;
}

.gd-organizer,
.gd-orgname,
.gd-about-title,
.gd-about {
  background-color: #efe7bc;
}

.gd-events {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #efe7bc;
}

.gd-upcoming {
  background-color: #efe7bc;
}

.gd-past {
  background-color: #efe7bc;
}
