.ugl-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 75%;
}

.ugl-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 75%;
  margin-top: 50px;
}

.ugl-link {
  color: black;
  text-decoration: none;
  border-top: 1px solid black;
}
