.dl-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dl-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dl-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.dl-link-e {
  text-decoration: underline;
  text-decoration-color: #ffa384;
}

.dl-link-f:hover {
  text-decoration: underline;
  text-decoration-color: #ffa384;
}

.dl-link-g {
  text-decoration: underline;
  text-decoration-color: #74bdcb;
}

.dl-link-h:hover {
  text-decoration: underline;
  text-decoration-color: #74bdcb;
}
