.dl-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dl-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dl-link {
  font-size: 1.5rem;
  text-decoration: none;
}

.dl-link:focus {
  text-decoration: underline;
}
