.ed-banner {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  background-color: #efe7bc;
}

.ed-buttons {
  display: flex;
  justify-content: right;
  gap: 5px;
  background-color: #efe7bc;
}

.ed-container {
  margin: auto;
  margin-top: 50px;
  width: 75%;
  background-color: #efe7bc;
  padding: 50px;
  border-radius: 25px;
}

.ed-events-container {
  height: 30%;
  width: 50%;
  border: 1px solid black;
  background-color: #efe7bc;
}

.ed-img {
  height: 450px;
  width: 450px;
  border-radius: 50px;
}

.ed-group-name {
  font-size: 1.2rem;
}

.ed-group-type {
  font-size: 1rem;
  color: #e7f2f8;
}

.ed-group-img {
  height: 75px;
  width: 75px;
  border-radius: 50px;
}

.ed-group-info {
  display: flex;
  align-items: center;
  background-color: #74bdcb;
  padding: 5px;
  border-radius: 15px;
  gap: 20px;
}

.ed-group-nametype {
  display: flex;
  flex-direction: column;
  background-color: #74bdcb;
}
.ed-group-nametype > p,
p > p {
  background-color: #74bdcb;
  margin: 0;
}

.ed-img-container {
  display: flex;
  flex-direction: column;
  background-color: #efe7bc;
}

.ed-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #efe7bc;
}

.ed-event-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: #74bdcb;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
}

.ed-datetime,
.ed-datetime > p,
.ed-price,
.ed-type {
  font-size: 0.8rem;
  background-color: #ffa384;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
}

.ed-link {
  text-decoration: none;
  color: black;
  background-color: #efe7bc;
}

.ed-link-icon {
  background-color: #efe7bc;
}

.ed-link-text {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #efe7bc;
}

.ed-clock {
  font-size: 1.5rem;
  background-color: #ffa384;
}

.ed-dot {
  background-color: #ffa384;
}

.ed-datetime {
  display: flex;
  gap: 5px;
  align-items: center;
}

.ed-price {
  display: flex;
  gap: 5px;
  align-items: center;
}
.ed-moneyicon {
  background-color: #ffa384;
  font-size: 1.5rem;
}

.ed-type {
  display: flex;
  gap: 5px;
  align-items: center;
}
.ed-locdot {
  background-color: #ffa384;
  font-size: 1.5rem;
}

.ed-updatebutton {
  font-size: 0.9rem;
  background-color: #74bdcb;
  width: 150px;
  height: 25px;
  border-radius: 100px;
  border: none;
  margin: 10px;
  margin-top: 0px;
  color: whitesmoke;
  cursor: pointer;
}

.ed-host {
  background-color: #efe7bc;
}

.ed-name {
  background-color: #efe7bc;
}
.ed-description-text,
.ed-description {
  background-color: #efe7bc;
}
