.ef-button {
  font-size: 0.9rem;
  background-color: #74bdcb;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: none;
  margin: 10px;
  color: whitesmoke;
  cursor: pointer;
}

.ef-borderbottom {
  border-bottom: 1px solid black;
}

.ef-caption {
  font-size: 0.5rem;
}
.ef-container {
  margin: auto;
  max-width: 75%;
}

.ef-errors {
  color: crimson;
  font-size: 0.7rem;
}

.ef-form {
  display: flex;
  flex-direction: column;
}
.ef-header {
  font-size: 1rem;
  border-bottom: 1px solid black;
}
.ef-input {
  margin: 3px;
  font-size: 0.9rem;
  width: 40%;
  border: 2px solid #74bdcb;
  background-color: #efe7bc;
  border-radius: 10px;
}
.ef-input:focus {
  outline: 2px solid #ffa384;
}
.ef-label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 5px;
}
.ef-select {
  display: flex;
  flex: column;
  background-color: #efe7bc;
  border: 2px solid #74bdcb;
  width: 40%;
}

.ef-select:focus {
  outline: 2px solid #ffa384;
}

.ef-select > option {
  background-color: #efe7bc;
}

.ef-span {
  font-size: 0.75rem;
}

.ef-textarea {
  background-color: #efe7bc;
  height: 200px;
  width: 300px;
  border: 2px solid #74bdcb;
  background-color: #efe7bc;
  border-radius: 10px;
}

.ef-textarea:focus {
  outline: 2px solid #ffa384;
}
