.el-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 45rem;
}

.el-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  border-top: 1px solid black;
}

.el-link:hover {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

@media screen and (max-width: 850px) {
  .el-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
  }
}
