.ed-banner {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.ed-buttons {
  display: flex;
  justify-content: right;
  gap: 5px
}

.ed-container {
  margin: auto;
  width: 75%;
}

.ed-events-container {
  height: 30%;
  width: 50%;
  border: 1px solid black;
}

.ed-img {
  height: 450px;
  width: 450px;
}

.ed-group-img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.ed-group-info {
  display: flex;
  align-items: center;
  background-color: aquamarine;
  padding: 5px;
  border-radius: 15px;
  gap: 20px;
}

.ed-group-nametype {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}
.ed-group-nametype > p,
p > p {
  background-color: aquamarine;
  margin: 0;
}

.ed-img-container {
  display: flex;
  flex-direction: column;
}

.ed-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ed-event-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 10px;
  background-color: aquamarine;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
}

.ed-datetime,
.ed-datetime > p,
.ed-price,
.ed-type {
  font-size: 0.75rem;
  background-color: aquamarine;
}

.ed-link {
  text-decoration: none;
  color: black;
}

.ed-clock {
  font-size: 1.5rem;
  background-color: aquamarine;
}

.ed-dot {
  background-color: aquamarine;
}

.ed-datetime {
  display: flex;
  gap: 5px;
  align-items: center;
}

.ed-price {
  display: flex;
  gap: 5px;
  align-items: center
}
.ed-moneyicon {
  background-color: aquamarine;
  font-size: 1rem;
}

.ed-type {
  display: flex;
  gap: 5px;
  align-items: center
}
.ed-locdot {
  background-color: aquamarine;
  font-size: 1rem;
}

.ed-updatebutton {
  font-size: 0.9rem;
  background-color: darkgrey;
  width: 125px;
  height: 50px;
  border-radius: 15px;
}
