.edc-card {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  width: 500px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}
.edc-img-info {
  display: flex;
  background-color: aquamarine;
}

.edc-img {
  border-radius: 50px;
  height: 150px;
  width: 150px;
}

.edc-info-container {
  margin-left: 10px;
}

.edc-description,
.edc-img-container,
.edc-info-container,
.edc-info-container > p,
.edc-info-container > h2 {
  background-color: aquamarine;
}

.edc-link {
  text-decoration: none;
  color: black;
}

.edc-description {
  display: flex;
  font-size: 0.75rem;
}

.edc-dot {
  font-size: 0.8rem;
  background-color: aquamarine;
}
