.delete-modal {
  margin: auto;
  padding: 2px 10px 50px 10px;
  border-radius: 15px;
}

.delete-h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #ffa384;
}

.delete-button-yes {
  font-size: 0.9rem;
  background-color: #74bdcb;
  width: 150px;
  height: 25px;
  border-radius: 100px;
  border: none;
  margin: 10px;
  color: whitesmoke;
  cursor: pointer;
}

.delete-button-no {
  font-size: 0.9rem;
  background-color: #ffa384;
  width: 150px;
  height: 25px;
  border-radius: 100px;
  border: none;
  margin: 10px;
  color: whitesmoke;
  cursor: pointer;
}

.delete-modal {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
