.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.homelinks {
  display: flex;
  gap: 5px;
}
